@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.newproductgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.firstDiv {
  background: #7694ee;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
}

.secondDiv {
  background: white;
  border-bottom-right-radius: 3%;
  border-top-right-radius: 3%;
}

.getBorder img {
  border-radius: 70%;
  width: 100%;
  height: 100%;
}

/* Add a new CSS file or add these styles to your existing CSS */
/* Center the Success component */
.Success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optionally add a semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 9999; /* Ensure it's above other elements */
}

/* Optional: Add styles to customize the appearance of the animation */
.Success .lottie-container {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  margin: 0 auto;
}

.Success .lottie-containers {
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.animate__tada{
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

.gridsystem{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 5px;
}



.gridsystem div:nth-child(4){
  grid-column: span 3;
}

.input-group {
  position: relative;
 }
 
 .input {
  border: solid 1.5px #9e9e9e;
  border-radius: 0.5rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  resize: none;
 }
 
 .user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
 }
 
 .input:focus, textarea:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
 }
 
 .input:focus ~ label, textarea:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 .2em;
  color: #2196f3;
 }

 .mypading{
    padding: 1% 10%;
 }

 .newpadding{
    padding: 8px 34px;
 }

 .LoadingpageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh; /* Set the container height to full viewport height */
}

.getbackground{
  background: linear-gradient (to  right, rgb(0, 0, 0 / 0.5), rgb(0, 0, 0 / 0));
}
.centeringDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add a new CSS file or add these styles to your existing CSS */
/* Center the Success component */
.newproductgriding{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
}